{{#each data.body.params as |group groupName|}}
  <tbody class="parameter-group" style="page-break-inside: avoid">
    <tr>
      <th colspan="2">
        <h3>{{inc @index}}. {{groupName}}</h3>
      </th>
    </tr>
  </tbody>
  {{#each group as |parent parentName|}}
    {{#ifEq parentName 'parentless'}}
      {{#each parent as |param paramIndex|}}
        <tbody class="parameter-block" style="page-break-inside: avoid">
          <tr class="parameter">
            <td class="parameter-description">
              {{param.Title}}
            </td>
            <td class="parameter-value">
              {{param.NumValue}} {{param.Unit.Display}}
            </td>
          </tr>
        </tbody>
      {{/each}}
    {{else}}
      {{#each parent as |param paramIndex|}}
        <tbody class="parameter-block" style="page-break-inside: avoid">
          <tr class="parameter-parent" >
            <td colspan="2">
              <h4>{{parentName}}</h4>
            </td>
          </tr>
          <tr class="parameter">
            <td class="parameter-description">
              {{param.Title}}
            </td>
            <td class="parameter-value">
              {{param.NumValue}} {{param.Unit.Display}}
            </td>
          </tr>
        </tbody>
      {{/each}}
    {{/ifEq}}
  {{/each}}
  </tbody>
{{/each}}