<table>
  {{#each data.body.params}}
    <tbody class="parameter-group">
      <tr>
        <th class="base-parameter" colspan="3">
          <h3>{{@key}}</h3>
        </th>
      </tr>
      {{#each this}}
        <tr>
          <td rowspan="2">
            {{this.Group.Title}}
          </td>
          <td>Городской Номер</td>
          <td>Федеральный номер</td>
        </tr>
        <tr>
          <td>{{this.NumValue}} {{this.Unit.Display}}</td>
          <td>{{this.NumValue}} {{this.Unit.Display}}</td>
        </tr>
      {{/each}}
    </tbody>
  {{/each}}
</table>