<table class="main-table">
  {{#each data.body.params}}
    <tbody class="parameter-group">
      <tr class="base-parameter">
        <th colspan="2">
          <h3>{{@index}} {{@key}}</h3>
        </th>
      </tr>
      {{#each this}}
        <tr class="parameter-name">
          <td class="parameter-description" rowspan="2">
            {{this.Group.Title}}
          </td>
          <td class="parameter-value">{{this.NumValue}} {{this.Unit.Display}}</td>
        </tr>
      {{/each}}
    </tbody>
  {{/each}}
</table>