<div class="line">
  <div class="col">
    <table class="options-table">
      <tbody>
        <tr>
          <th>
            <h3>Доступные опции роуминга</h3>
          </th>
        </tr>
        {{#each data.body.roaming.ServicesOnRoamingScale as |service|}}
          <tr>
            <td>{{service.Service.MarketingProduct.Title}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="col">
    <table class="main-table">
      {{#each data.body.roaming.Parameters as |group groupName|}}
        <tbody class="parameter-group" style="page-break-inside: avoid">
          <tr>
            <th colspan="2">
              <h3>{{inc @index}}. {{groupName}}</h3>
            </th>
          </tr>
        </tbody>
        {{#each group as |param paramName|}}
          <tbody class="parameter-block" style="page-break-inside: avoid">
            <tr class="parameter">
              <td class="parameter-description">
                {{paramName}}
              </td>
              <td class="parameter-value">
                {{param.NumValue}} {{param.Unit.Display}}
              </td>
            </tr>
          </tbody>
        {{/each}}
        </tbody>
      {{/each}}
    </table>
  </div>
</div>