<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ejs</title>
  <style type="text/css">
    <%- style %>
  </style>
</head>
<body>
  <div class="wrap">
    <%- include('parts/header') %>
    <%- include('parts/tariffInfo') %>
    <table class="main-table">
      <%- include('parts/tableGeneric') %>
      <%- include('parts/tableStatic') %>
    </table>
    <%- include('parts/footnotes') %>
  </div>
</body>
</html>